@model IEnumerable<LivrariaSouza.Models.Models.Livro>
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Livros</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        body {
            background: linear-gradient(to bottom right, #f0f8ff, #e6e6fa);
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
        }

        .home-icon {
            position: absolute;
            top: 20px;
            left: 20px;
            font-size: 24px;
            color: #007bff;
            text-decoration: none;
        }

        .titulo-livros {
            text-align: center;
            font-size: 2rem;
            font-weight: bold;
            margin: 40px 0 30px;
            color: #333;
        }

        .button-container {
            position: absolute;
            top: 10px;
            right: 10px;
            display: flex;
            gap: 10px;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
            margin: 0 auto;
            padding: 0;
            max-width: 100%;
        }

        .col-md-2 {
            padding: 0;
            flex: 0 0 calc(19% - 8px);
            box-sizing: border-box;
        }


        .card {
            height: 500px;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            transition: transform 0.3s;
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            position: relative;
        }

            .card:hover {
                transform: scale(1.05);
            }

            .card img {
                width: 100%;
                height: 300px;
                object-fit: cover;
            }

        .card-body {
            padding: 10px;
            text-align: center;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .card-title {
            font-size: 1.1rem;
            font-weight: bold;
            margin: auto;
            color: #444;
        }

            .card-title a {
                color: inherit;
                text-decoration: none;
            }

        .card-value {
            font-size: 1rem;
            color: #444;
            font-weight: bold;
        }

        .card-price {
            font-size: 1rem;
            color: #28a745;
            font-weight: bold;
            margin-top: auto;
        }

        .btn {
            display: inline-block;
            text-align: center;
            font-size: 0.9rem;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            margin-top: 10px;
        }

        .btn-carrinho {
            background-color: #007bff;
            color: #fff;
        }

        .btn-adicionar {
            background-color: #007bff;
            color: #fff;
            width: 100%;
            padding: 10px;
            margin-top: auto;
        }

        .quantidade-input {
            width: 50px;
            height: 25px;
            text-align: center;
            border: 1px solid #007bff;
            border-radius: 4px;
            font-size: 1rem;
            margin-bottom: 10px;
        }

    </style>
</head>
<body>
    <div class="button-container">
        <a href="@Url.Action("ViewCarrinho", "Carrinho")" class="btn btn-carrinho">Ver Carrinho</a>
    </div>

    <h2 class="titulo-livros">Livraria Souza</h2>
    <a href="@Url.Action("HomePageCliente", "HomeCliente")" class="home-icon"><i class="fas fa-home"></i></a>

    @if (TempData["Mensagem"] != null)
    {
        <div class="alert alert-info">@TempData["Mensagem"]</div>
        TempData.Remove("Mensagem");
    }


    <div class="row">
        @if (Model != null)
        {
            @foreach (var livro in Model)
            {
                <div class="col-md-2">
                    <div class="card mb-4">
                        <a href="@Url.Action("MostraDetalhesLivroCliente", "HomeCliente", new { id = livro.LivroId })">
                            <img src="@livro.CapaLivro" class="card-img-top" alt="@livro.Titulo" />
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="@Url.Action("MostraDetalhesLivroCliente", "HomeCliente", new { id = livro.LivroId })">@livro.Titulo</a>
                            </h5>
                            <p class="card-value">Estoque: @(livro.QntdEstoque == 0 ? "Esgotado" : livro.QntdEstoque.ToString()) </p>
                            <p class="card-price">@livro.ValorVenda.ToString("C", new System.Globalization.CultureInfo("pt-BR"))</p>
                            @if (livro.QntdEstoque > 0)
                            {
                                <form class="adicionar-livro-form" method="post" action="@Url.Action("AdicionarLivroAoCarrinho", "Carrinho")">
                                    <input type="hidden" name="userId"/>
                                    <input type="hidden" name="livroId" value="@livro.LivroId" />
                                    <input type="hidden" name="valorLivro" value="@livro.ValorVenda" />
                                    <label for="qntd-@livro.LivroId">Quantidade:</label>
                                    <input type="number" id="qntd-@livro.LivroId" name="quantidade" class="quantidade-input" min="1" max="@livro.QntdEstoque" value="1" />
                                    <button type="submit" class="btn btn-adicionar adicionar-livro-btn">Adicionar ao Carrinho</button>
                                </form>
                            }
                            else
                            {
                                <p class="btn-esgotado">Esgotado</p>
                            }
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</body>
