<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Livros</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
        body {
            background: linear-gradient(to bottom right, #f0f8ff, #e6e6fa);
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
        }

        .titulo-livros {
            text-align: center;
            font-size: 2rem;
            font-weight: bold;
            margin: 40px 0 30px;
            color: #333;
        }

        .alert {
            margin: 20px auto;
            max-width: 600px;
            text-align: center;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            margin: 0 auto;
            padding: 0;
            max-width: 100%;
        }

        .col-md-2 {
            padding: 0;
        }

        .card {
            flex: 0 0 calc(20% - 10px);
            height: 405px;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            transition: transform 0.3s;
            margin-bottom: 20px;
            position: relative;
        }

            .card:hover {
                transform: scale(1.05);
            }

            .card img {
                width: 100%;
                height: 300px;
                object-fit: cover;
            }

        .card-body {
            padding: 10px;
            text-align: center;
        }

        .card-title {
            font-size: 1.1rem;
            font-weight: bold;
            margin: 10px 0;
            color: #444;
        }

            .card-title a {
                color: inherit;
                text-decoration: none;
            }

        .card-value {
            font-size: 1rem;
            color: #28a745;
            font-weight: bold;
        }

        .btn-primary {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border-radius: 5px;
            text-decoration: none;
            transition: background-color 0.3s;
        }

            .btn-primary:hover {
                background-color: #007bff;
            }

        /* Estilo para os checkboxes */
        .book-checkbox {
            position: absolute;
            top: 10px;
            left: 10px;
            display: none; /* Escondido por padrão */
            width: 20px; /* Aumenta o tamanho do checkbox */
            height: 20px; /* Aumenta o tamanho do checkbox */
        }

        .card.selected .book-checkbox {
            display: block; /* Mostra quando o card está selecionado */
        }

        /* Botão Selecionar Todos */
        .btn-select-all {
            padding: 10px 20px;
            background-color: #007bff; /* Cor azul */
            color: white;
            border-radius: 5px;
            cursor: pointer;
            border: none;
            transition: background-color 0.3s;
        }

            .btn-select-all:hover {
                background-color: #007bff;
            }

        /* Adicionando estilo para o botão de excluir */
        #btn-excluir {
            display: none;
            margin-top: 10px; /* Espaço entre o botão de selecionar todos e o de excluir */
            background-color: #dc3545;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

            #btn-excluir:hover {
                background-color: #007bff;
            }

        /* Container para os botões */
        .button-container {
            position: absolute;
            top: 10px;
            right: 10px;
            display: flex;
            flex-direction: column;
            align-items: flex-end; /* Alinha os botões à direita */
            gap: 10px; /* Espaço entre os botões */
        }

        .btn-delete-one {
            background-color: #007bff;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
        }

            .btn-delete-one:hover {
                background-color: #007bff;
            }

        #btn-excluir {
            display: none;
            background-color: #dc3545;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

            #btn-excluir:hover {
                background-color: #b21f2d;
            }

        .btn-add-livro {
            background-color: #007bff;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            margin-top: 10px;
        }

            .btn-add-livro:hover {
                background-color: #007bff;
            }


    </style>
</head>
<body>
    <h2 class="titulo-livros">Livraria Souza</h2>

    <!-- Alerta de Mensagem -->
    @if (TempData["MensagemLivroAdicionado"] != null)
    {
        <div class="alert alert-@TempData["TipoMensagem"] alert-dismissible fade show" role="alert">
            @TempData["MensagemLivroAdicionado"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    @if (TempData["MensagemLivroDeletado"] != null)
    {
        <div class="alert alert-@TempData["TipoMensagem"] alert-dismissible fade show" role="alert">
            @TempData["MensagemLivroDeletado"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    <form id="form-excluir-livros" asp-action="DeletaLivrosEmBloco" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" name="livroIds" id="livroIds" />
        <button id="btn-excluir" type="submit" style="display: none;">Excluir Selecionados</button>
    </form>


    <div class="button-container">
        <button id="delete-one" class="btn-delete-one">Deletar livros</button>
        <a href="@Url.Action("CriarLivro", "Home")" class="btn btn-primary">Adicionar Livro</a>
    </div>

    <div class="row">
        @foreach (var livro in Model)
        {
            <div class="col-md-2">
                <div class="card mb-4">
                    <input type="checkbox" class="book-checkbox" name="livroIds" value="@livro.Id" style="display: none;" />
                    <a href="@Url.Action("MostraDetalhesLivro", "DetalhesLivro", new { id = livro.Id })">
                        <img src="@livro.Imagem" class="card-img-top" alt="@livro.Titulo" />
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="@Url.Action("MostraDetalhesLivro", "DetalhesLivro", new { id = livro.Id })">@livro.Titulo</a>
                        </h5>
                    </div>
                </div>
            </div>
        }
    </div>


    <script>
        const checkboxes = document.querySelectorAll('.book-checkbox');
        const deleteOneButton = document.getElementById('delete-one');
        const deleteButton = document.getElementById('btn-excluir');
        let checkboxesVisible = false;

        deleteOneButton.addEventListener('click', function () {
            checkboxesVisible = !checkboxesVisible;
            checkboxes.forEach(checkbox => {
                checkbox.style.display = checkboxesVisible ? 'block' : 'none';
            });
        });

        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', function () {
                toggleDeleteButton();
            });
        });

        function toggleDeleteButton() {
            const anyChecked = Array.from(checkboxes).some(checkbox => checkbox.checked);
            deleteButton.style.display = anyChecked ? 'block' : 'none';
            document.getElementById('livroIds').value = Array.from(checkboxes)
                .filter(checkbox => checkbox.checked)
                .map(checkbox => checkbox.value)
                .join(',');
        }
    </script>
</body>
