<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Livros</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        body {
            background: linear-gradient(to bottom right, #f0f8ff, #e6e6fa);
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
        }

        .home-icon {
            position: absolute;
            top: 20px;
            left: 20px;
            font-size: 24px;
            color: #007bff;
            text-decoration: none;
        }

        .titulo-livros {
            text-align: center;
            font-size: 2rem;
            font-weight: bold;
            margin: 40px 0 30px;
            color: #333;
        }

        .alert {
            margin: 20px auto;
            max-width: 600px;
            text-align: center;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            margin: 0 auto;
            padding: 0;
            max-width: 100%;
        }

        .col-md-2 {
            padding: 0;
        }

        .card {
            flex: 0 0 calc(20% - 10px);
            height: 425px;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            transition: transform 0.3s;
            margin-bottom: 20px;
            position: relative;
        }

            .card:hover {
                transform: scale(1.05);
            }

            .card img {
                width: 100%;
                height: 300px;
                object-fit: cover;
            }

        .card-body {
            padding: 10px;
            text-align: center;
        }

        .card-title {
            font-size: 1.1rem;
            font-weight: bold;
            margin: 10px 0;
            color: #444;
        }

            .card-title a {
                color: inherit;
                text-decoration: none;
            }

        .card-value {
            font-size: 1rem;
            color: #444;
            font-weight: bold;
        }

        .card-price {
            font-size: 1rem;
            color: #28a745;
            font-weight: bold;
            margin-top: 5px;
        }



        .btn-primary {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border-radius: 5px;
            text-decoration: none;
            transition: background-color 0.3s;
        }

            .btn-primary:hover {
                background-color: #007bff;
            }

        .book-checkbox {
            position: absolute;
            top: 10px;
            left: 10px;
            display: none;
            width: 20px;
            height: 20px;
        }

        .card.selected .book-checkbox {
            display: block;
        }

        .btn-select-all {
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            border-radius: 5px;
            cursor: pointer;
            border: none;
            transition: background-color 0.3s;
        }

            .btn-select-all:hover {
                background-color: #007bff;
            }

        #btn-excluir {
            display: none;
            margin-top: 10px;
            background-color: #dc3545;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

            #btn-excluir:hover {
                background-color: #b21f2d;
            }

        .button-container {
            position: absolute;
            top: 10px;
            right: 10px;
            display: flex;
            gap: 10px;
        }

        .btn-delete-one {
            background-color: #007bff;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
        }

            .btn-delete-one:hover {
                background-color: #007bff;
            }

        .btn-add-livro {
            background-color: #007bff;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
        }

            .btn-add-livro:hover {
                background-color: #0056b3;
            }
    </style>
</head>
<body>
    <a href="@Url.Action("RetornaTodosLivros", "Home")" class="home-icon"><i class="fas fa-home"></i></a>
    <h2 class="titulo-livros">Livraria Souza</h2>

    @if (TempData["MensagemLivroAdicionado"] != null)
    {
        <div class="alert alert-@TempData["TipoMensagem"] alert-dismissible fade show" role="alert">
            @TempData["MensagemLivroAdicionado"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    @if (TempData["MensagemLivroDeletado"] != null)
    {
        <div class="alert alert-@TempData["TipoMensagem"] alert-dismissible fade show" role="alert">
            @TempData["MensagemLivroDeletado"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    <form id="form-excluir-livros" asp-action="DeletaLivrosEmBloco" method="post">
        @Html.AntiForgeryToken()
        <div id="livroIdsContainer"></div>
        <button id="btn-excluir" type="submit" style="display: none;">Excluir Selecionados</button>
    </form>

    <div class="button-container">
        <button id="delete-one" class="btn-delete-one">Deletar livros</button>
        <a href="@Url.Action("CriarLivro", "Home")" class="btn btn-primary">Adicionar Livro</a>
        <a href="@Url.Action("HomePageCliente", "HomeCliente")" class="btn btn-primary">Página Cliente</a>
    </div>

    <div class="row">
        @foreach (var livro in Model)
        {
            <div class="col-md-2">
                <div class="card mb-4">
                    <input type="checkbox" class="book-checkbox" value="@livro.Id" style="display: none;" />
                    <a href="@Url.Action("MostraDetalhesLivro", "DetalhesLivro", new { id = livro.Id })">
                        <img src="@livro.Imagem" class="card-img-top" alt="@livro.Titulo" />
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="@Url.Action("MostraDetalhesLivro", "DetalhesLivro", new { id = livro.Id })">@livro.Titulo</a>
                        </h5>
                        <p class="card-value">
                            Estoque: @(livro.QntdEstoque == 0 ? "Esgotado" : livro.QntdEstoque.ToString())
                        </p>
                        <p class="card-price">R$ @livro.ValorVenda</p>
                    </div>
                </div>
            </div>
        }
    </div>

    <script>
        const checkboxes = document.querySelectorAll('.book-checkbox');
        const deleteOneButton = document.getElementById('delete-one');
        const deleteButton = document.getElementById('btn-excluir');
        const livroIdsContainer = document.getElementById('livroIdsContainer');
        let checkboxesVisible = false;

        // Exibir/ocultar checkboxes
        deleteOneButton.addEventListener('click', function () {
            checkboxesVisible = !checkboxesVisible;
            checkboxes.forEach(checkbox => {
                checkbox.style.display = checkboxesVisible ? 'block' : 'none';
            });
        });

        // Atualizar o formulário com livros selecionados
        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', function () {
                updateSelectedLivros();
            });
        });

        function updateSelectedLivros() {
            livroIdsContainer.innerHTML = '';

            const anyChecked = Array.from(checkboxes).some(checkbox => checkbox.checked);
            deleteButton.style.display = anyChecked ? 'block' : 'none';

            // Adiciona um input hidden para cada livro selecionado
            checkboxes.forEach(checkbox => {
                if (checkbox.checked) {
                    const input = document.createElement('input');
                    input.type = 'hidden';
                    input.name = 'livroIds';
                    input.value = checkbox.value;
                    livroIdsContainer.appendChild(input);
                }
            });
        }
    </script>
</body>
