@model IEnumerable<LivrariaSouza.Models.Models.Livro>

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Livros</title>
    <style>
        .titulo-livros {
            text-align: center;
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 20px;
            color: #333;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
        }

        .card {
            width: 250px;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            transition: transform 0.3s;
        }

            .card:hover {
                transform: scale(1.05);
            }

            .card img {
                width: 100%;
                height: 250px;
                object-fit: cover;
            }

        .card-body {
            padding: 15px;
            text-align: center;
        }

        .card-title {
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 10px;
            color: #444;
        }

        .card-value {
            font-size: 1rem;
            color: #28a745;
            font-weight: bold;
        }

        .btn-primary {
            position: absolute;
            top: 20px;
            right: 20px;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border-radius: 5px;
            text-decoration: none;
            text-align: center;
        }

            .btn-primary:hover {
                background-color: #0056b3;
            }
    </style>
</head>
<body>
    <h2 class="titulo-livros">Lista de Livros</h2>

    <a href="@Url.Action("CriarLivro", "Home")" class="btn btn-primary">Adicionar Livro</a>

    <div class="row">
        @foreach (var livro in Model)
        {
            <div class="col-md-3">
                <div class="card mb-4">
                    <a href="@Url.Action("DetalhesLivro", "Home", new { id = livro.Id })">
                        <img src="@livro.Imagem" class="card-img-top" alt="@livro.Titulo" />
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="@Url.Action("DetalhesLivro", "Home", new { id = livro.Id })">@livro.Titulo</a>
                        </h5>
                        <p class="card-value">@livro.Valor.ToString("C")</p>
                    </div>
                </div>
            </div>
        }
    </div>
</body>
</html>
